/* ===== FOND & POLICES ===== */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
/* ===== BODY ===== */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f5f7;
    margin: 0;
    min-height: 100vh;
}

/* ===== CONTAINER ===== */
.clients-container {
    display: flex;
    justify-content: center; /* centre horizontalement */
    padding: 40px 20px;
}

/* ===== BOX ===== */
.clients-box {
    background-color: #074a62;
    width: 90%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* ===== TITRE ===== */
.clients-box h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

/* ===== TABLE WRAPPER ===== */
.table-wrapper {
    overflow-x: auto;  /* scroll horizontal si nécessaire */
    overflow-y: auto;  /* scroll vertical si nécessaire */
    max-height: 500px; /* hauteur max du tableau avant scroll vertical */
}

/* ===== TABLEAU ===== */
.table-wrapper table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/* Colonnes compactes et coupure de texte */
th, td {
    padding: 12px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* Style des headers */
th {
    background-color: #eaeaea;
    color: #F39C12;;
    font-size: 14px;
    border-radius: 8px;
    border-bottom: 3px solid #F39C12;
    border-right: 1px solid #F39C12;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

/* Style des cellules */
td {
    background-color: #f5f5f5;
    color: black;
    border-radius: 8px;
    font-size: 15px;
}

/* Zebra et hover */
.table-wrapper tr:nth-child(even) td {
    background-color: #eaeaea8e;
}

.table-wrapper tr:hover td {
    background-color: #43474836;
    transition: 0.3s;
}

/* Message "vide" */
.table-wrapper td[colspan] {
    padding: 30px;
    font-style: italic;
    color: #555;
}



.blockFormulaire {
    margin: 2%;
    
}



.Connexion{
	position: fixed;
	top: 4%;
	right: 0;
	margin: 10px;
}


nav ul li a{
	align-items: center;
 list-style-type: none;
 display: inline-block;
 background-color: #ededed;
 padding-right: 20px;
 color:#F39C12;
 font-size: 25px;
	text-decoration: none;
	margin-top: 20%;
}
nav ul li {
	display: inline-block;


}
nav ul li:hover a{
	color: #d1850a;
	background-color: #ededed;
}
header {
	z-index: 200000;
	background-color: #ededed;
	width: 100%;
	top: 0;

}
header h1.welcome, nav{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
header img.logo {
	margin: 6px;
}
