
img.Accueil {
	margin-left: 5%;
}
.selectClient {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}
.selectTechnicien {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}
.selectAgence {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f5f7;
    margin: 0;
}

.container {
    padding: 24px;
    
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}

button {
    background: #cf8610;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 24px;
}

.field label {
    font-size: 13px;
    color: #666;
}

.field input {
    width: 100%;
    padding: 8px;
}

.odoo-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.box-left {
    width: 50%;
}

.box-right {
    width: 50%;
    text-align: left;
}


.odoo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.odoo-table th, .odoo-table td {
    border: 1px solid #ddd;
    padding: 8px;
}








.Connexion{
	position: fixed;
	top: 4%;
	right: 0;
	margin: 10px;
}


nav ul li a{
	align-items: center;
 list-style-type: none;
 display: inline-block;
 background-color: #ededed;
 padding-right: 20px;
 color:#F39C12;
 font-size: 25px;
	text-decoration: none;
	margin-top: 20%;
}
nav ul li {
	display: inline-block;


}
nav ul li:hover a{
	color: #d1850a;
	background-color: #ededed;
}
header {
	z-index: 200000;
	background-color: #ededed;
	width: 100%;
	top: 0;

}
header h1.welcome, nav{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
header img.logo {
	margin: 6px;
}









.logomenu {
	float: right; /* Décale l'image à droite */
	margin-top: 1%;
	margin-right: 4%; /* Ajoute un espace entre l'image et le texte */ /* Limite la taille de l'image */
	height: auto; /* Maintient les proportions */
	border-radius: 20px;
}

.content{
	padding-bottom: 100px;
}

div.content div {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	padding: 20px;
	border-radius: 20px;
	color: white;

	background-color: #074a62;
}
div.content div h1 {
	margin-left: 5%;
	margin-top: 40px;
	font-size: 50px;
}


div.content div p {
	margin-left: 3%;
	margin-right: 50%;
	margin-top: 40px;
	font-size: 31px;
	color: white;
	letter-spacing: 1px;
	font-weight: normal;
}
leftbox{
	position: relative;
	z-index: -2;
}









.logoengagement {
	float: left; /* Décale l'image à droite */
	margin-top: 15px;
	margin-right: 15px; /* Ajoute un espace entre l'image et le texte */ /* Limite la taille de l'image */
	height: 140px; /* Maintient les proportions */
	border-radius: 20px;
}













footer{
	background-color: black;
}
footer p {
	color: white;
	padding-left: 20px;
	font-size: 15px;
}









.input-odoo {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
    padding: 6px 2px;
    font-size: 14px;
    transition: border-color 0.2s ease;
}
.input-odoo-titre {
    border: none;
    border-bottom: 2px solid #aaaaaa;
    outline: none;
    background: transparent;
    padding: 7px 3px;
    transition: border-color 0.2s ease;
	font-weight: bold;
	font-size: larger;
}
/* Hover */
.input-odoo:hover {
    border-bottom: 1px solid #999;
}

/* Focus (quand tu cliques dedans) */
.input-odoo:focus {
    border-bottom: 2px solid #875A7B; /* violet Odoo */
}





