.imageMenu{
	padding: 48px;
	border-radius: 20px;
	transition: transform 0.3s ease; /* animation fluide */
	
}

.imageMenu:hover {
    transform: scale(1.1); /* agrandit légèrement */
}
.imageaccueil {
	position: absolute; /* Permet le placement à des coordonnées spécifiques */
	z-index: -1;
	top: 0;          /* Décale de 50px depuis le haut du conteneur */
	left: 0px;        /* Décale de 100px depuis la gauche du conteneur */
	width: 100%px;       /* Largeur de l'image (facultatif) */
	height: auto;       /* Maintient les proportions de l'image */
	

}

